{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": "chrome>38, firefox>56",
				"useBuiltIns": "entry",
				"corejs": 3
			}
		]
	],
	"plugins": [
		[
			"@babel/plugin-proposal-decorators",
			{
				"legacy": true
			}
		],
		"@babel/plugin-proposal-class-properties"
	]
}
